* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    overflow: unset;
}

img {
    height: 100%;
    width: 100%;

    position: absolute;

    order: -1;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    order: 1;

    display: flex;
    align-items: center;
    justify-content: space-around;

    padding-left: 40px;

    height: 40px;
    background-color: rgb(198, 208, 218);
    opacity: 0.7;

    box-shadow: 10px 5px 5px rgb(255, 255, 255);

    width: 100%;
}

body main nav .dropdown {
    position: relative;
    
    display: inline-block;

   /* z-index: 1;*/
}

body main nav div .dropdown-child {
    display: none;

    margin-top: 20px;

    background-color: antiquewhite;
    
    min-width: 150px;
}

body main nav div .dropdown-child a {
    display: block;

    color: rgb(0, 0, 0);

    text-decoration: none;

    padding: 12px 16px;
}

.dropdown:hover .dropdown-child {
    display: block;
    
}

.dropdown:hover button.btn {
    background-color: blueviolet;
}
 
body main nav button.login {
    padding-right: 360px;
}

nav a {
    
    color: rgba(0, 0, 0, 1);
    
    font-size: 24px;

}

nav a:hover {
    color: white;

}

button {
    color: black;

    border: none;

    cursor: pointer;

    background-color: unset;

    font-size: 24px;
}

button:hover {
    color: white;
}

.btn {
    transition: all .3s;
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}

form {
    position: relative;
    order: 4;
    
    

    margin-left: 80px;

    height: 300px;
    width: 350px;

    background-color: rgba(219, 218, 217, 0.3);

    color: rgb(153, 180, 0);
    
    visibility: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px solid white;

}

form h1 {
    margin: 0;
}

label {
    display: block;

    font-size: 24px;

    margin: 15px 0;
}

input {
    height: 35px;
}

.btn_sbmt {
    background: rgb(171, 201, 4);
    border-radius: 999px;
    box-shadow: #000000 0 10px 20px -10px;
    box-sizing: border-box;
    color: #7e7e7ed8;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;

    margin-top: 18px;
}

aside form .lb_input {
    width: 80%;
}

aside form .lb_input input {
    width: 100%;
}

aside form .footer {
    display: flex;
    align-items: center;

    text-decoration: none;

    font-size: 20px;

    color: #a9e43b;
}

aside form .footer a {
    text-decoration: none;

    font-size: 20px;

    color: rgb(153, 180, 0);
    
    margin-top: 18px;
    margin-left: 20px;

}